# Importing Original Dataset

In [17]:
import pandas as pd
from matplotlib.pyplot

In [18]:
#This is the dataset created by Dhruvil Dave form Kaggle.com
df = pd.read_csv("charts.csv", error_bad_lines=False)

In [19]:
df

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18
...,...,...,...,...,...,...,...
330082,1958-08-04,96,Over And Over,Thurston Harris,NaN,96,1
330083,1958-08-04,97,I Believe In You,Robert & Johnny,NaN,97,1
330084,1958-08-04,98,Little Serenade,The Ames Brothers,NaN,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,NaN,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,NaN,100,1

In [38]:
#Adele = df[df.artist == 'Adele']

In [41]:
#Adele['song'].nunique()

14

In [21]:
#filter out each year
import datetime as dt
df['date'] = pd.to_datetime(df['date'])

data_2015 = df[df['date'].dt.year == 2015]
data_2016 = df[df['date'].dt.year == 2016]
data_2017 = df[df['date'].dt.year == 2017]
data_2018 = df[df['date'].dt.year == 2018]
data_2019 = df[df['date'].dt.year == 2019]
data_2020 = df[df['date'].dt.year == 2020]

In [22]:
#concatenate together
data_2015_2020 = pd.concat([data_2020, data_2019, data_2018, data_2017, data_2016, data_2015])

In [23]:
data_2015_2020 = data_2015_2020.reset_index()

In [24]:
data_2015_2020

,index,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,4500,2020-12-26,1,Willow,Taylor Swift,NaN,1,1
1,4501,2020-12-26,2,All I Want For Christmas Is You,Mariah Carey,1.0,1,42
2,4502,2020-12-26,3,Rockin' Around The Christmas Tree,Brenda Lee,3.0,2,37
3,4503,2020-12-26,4,Jingle Bell Rock,Bobby Helms,5.0,3,34
4,4504,2020-12-26,5,Mood,24kGoldn Featuring iann dior,2.0,1,19
...,...,...,...,...,...,...,...,...
31295,35795,2015-01-03,96,Fireball,Pitbull Featuring John Ryan,88.0,23,20
31296,35796,2015-01-03,97,Homegrown Honey,Darius Rucker,97.0,97,4
31297,35797,2015-01-03,98,Wet Dreamz,J. Cole,73.0,73,2
31298,35798,2015-01-03,99,Yellow Flicker Beat,Lorde,86.0,34,7
31299,35799,2015-01-03,100,In Your Arms,Nico & Vinz,89.0,72,10

In [26]:
#drop duplicates
data_duplicates = data_2015_2020.drop_duplicates(subset=['song', 'artist'])

In [27]:
data_duplicates

,index,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,4500,2020-12-26,1,Willow,Taylor Swift,NaN,1,1
1,4501,2020-12-26,2,All I Want For Christmas Is You,Mariah Carey,1.0,1,42
2,4502,2020-12-26,3,Rockin' Around The Christmas Tree,Brenda Lee,3.0,2,37
3,4503,2020-12-26,4,Jingle Bell Rock,Bobby Helms,5.0,3,34
4,4504,2020-12-26,5,Mood,24kGoldn Featuring iann dior,2.0,1,19
...,...,...,...,...,...,...,...,...
31273,35773,2015-01-03,74,Soldier,Damien,NaN,74,1
31282,35782,2015-01-03,83,Lost Stars,Matt McAndrew & Adam Levine,NaN,83,1
31283,35783,2015-01-03,84,Girl In A Country Song,Maddie & Tae,62.0,54,20
31287,35787,2015-01-03,88,Get On Your Knees,Nicki Minaj Featuring Ariana Grande,NaN,88,1
31295,35795,2015-01-03,96,Fireball,Pitbull Featuring John Ryan,88.0,23,20

In [45]:
#filter years
data_2010 = df[df['date'].dt.year == 2010]
data_2011 = df[df['date'].dt.year == 2011]
data_2012 = df[df['date'].dt.year == 2012]
data_2013 = df[df['date'].dt.year == 2013]
data_2014 = df[df['date'].dt.year == 2014]

In [46]:
#concatenate together
data_2010_2020 = pd.concat([data_2020, data_2019, data_2018, data_2017, data_2016, data_2015, 
                           data_2014, data_2013, data_2012, data_2011, data_2010])

In [47]:
data_2010_2020 = data_2010_2020.reset_index()

In [48]:
data_2010_2020

,index,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,4500,2020-12-26,1,Willow,Taylor Swift,NaN,1,1
1,4501,2020-12-26,2,All I Want For Christmas Is You,Mariah Carey,1.0,1,42
2,4502,2020-12-26,3,Rockin' Around The Christmas Tree,Brenda Lee,3.0,2,37
3,4503,2020-12-26,4,Jingle Bell Rock,Bobby Helms,5.0,3,34
4,4504,2020-12-26,5,Mood,24kGoldn Featuring iann dior,2.0,1,19
...,...,...,...,...,...,...,...,...
57395,61895,2010-01-02,96,Kings And Queens,Thirty Seconds To Mars,82.0,82,4
57396,61896,2010-01-02,97,I'm Going In,Drake Featuring Lil Wayne & Young Jeezy,96.0,40,14
57397,61897,2010-01-02,98,I Get It In,Omarion Featuring Gucci Mane,92.0,83,7
57398,61898,2010-01-02,99,Drop It Low,Ester Dean Featuring Chris Brown,98.0,38,15
57399,61899,2010-01-02,100,Video Phone,Beyonce Featuring Lady Gaga,97.0,65,4

In [49]:
#remove duplicates
data_duplicates2 = data_2010_2020.drop_duplicates(subset=['song', 'artist'])

In [50]:
data_duplicates2

,index,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,4500,2020-12-26,1,Willow,Taylor Swift,NaN,1,1
1,4501,2020-12-26,2,All I Want For Christmas Is You,Mariah Carey,1.0,1,42
2,4502,2020-12-26,3,Rockin' Around The Christmas Tree,Brenda Lee,3.0,2,37
3,4503,2020-12-26,4,Jingle Bell Rock,Bobby Helms,5.0,3,34
4,4504,2020-12-26,5,Mood,24kGoldn Featuring iann dior,2.0,1,19
...,...,...,...,...,...,...,...,...
57328,61828,2010-01-02,29,Hell Breaks Loose,Eminem Featuring Dr. Dre,NaN,29,1
57354,61854,2010-01-02,55,Empire State Of Mind (Part II) Broken Down,Alicia Keys,NaN,55,1
57366,61866,2010-01-02,67,Elevator,Eminem,NaN,67,1
57383,61883,2010-01-02,84,On Fire,Lil Wayne,62.0,62,2
57397,61897,2010-01-02,98,I Get It In,Omarion Featuring Gucci Mane,92.0,83,7

In [60]:
#save new datasets
data_duplicates.to_csv (r'2015_2020_noDuplicates.csv', header=True)
data_duplicates2.to_csv (r'2010_2020_noDuplicates.csv', header=True)